<ion-view view-title="Wexquest">
  <ion-content>
      <div class="card list" ng-repeat="place in places">
          <div class="item item-icon-right">
              <h2>{{ place.name }}</h2>
              <i class="icon ion-ios-location" ng-click="openMap({{place.coord}})"></i>
          </div>

          <div class="item item-image">
              <img src="img/places/{{ place.picture }}">
          </div>

          <div class="item">
              <ion-list>
                  <ion-item ng-repeat="poi in place.tags" class="item-icon-right">
                      {{ poi.name }}
                      <a href="#/app/poi/{{ poi.name }}" ng-if="poi.found"><i class="icon ion-checkmark-round balanced" ></i></a>
                      <i class="icon ion-close-round energized" ng-if="!poi.found" ng-click="warningPoi()"></i>
                  </ion-item>
              </ion-list>
          </div>
      </div>
  </ion-content>
</ion-view>
